<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-head">
    <header class="navbar is-shadowless">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "TEAM-Z", root_url, class: "navbar-item is-size-4 has-text-weight-bold" %>
          <%= link_to "ログイン", new_user_session_path, class: "navbar-item is-right is-hidden-desktop" %>
        </div>
        <div class="navbar-end">
          <%= link_to "ログイン", new_user_session_path, class: "navbar-item is-hidden-touch" %>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2">新卒開発研修2020</h1>
      <%= link_to "ユーザー登録", new_user_registration_path, class: "button is-primary is-inverted is-large" %>
    </div>
  </div>
</section>