<div class="hero-head">
  <header class="navbar is-shadowless">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "TEAM-Z", root_url, class: "navbar-item is-size-4 has-text-weight-bold" %>
        <%= link_to "ユーザー登録", new_user_registration_path, class: "navbar-item is-right is-hidden-desktop" %>
      </div>
      <div class="navbar-end">
        <%= link_to "ユーザー登録", new_user_registration_path, class: "navbar-item is-hidden-touch" %>
      </div>
    </div>
  </header>
</div>
<div class="container">
  <section class="section">
    <div class="column is-4 is-offset-4">
      <h1 class="title is-2 has-text-centered has-text-grey">ログイン</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if flash[:alert].present? %>
          <div class="notification is-warning">
            <small><%= flash[:alert] %></small>
          </div>
        <% end %>

        <div class="box">
          <div class="field">
            <%= f.label :email, class: "label" %>
            <p class="control">
              <%= f.email_field :email, class: "input is-medium", autofocus: true, required: true %>
            </p>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %>
            <p class="control">
              <%= f.password_field :password, class: "input is-medium", autocomplete: "off", required: true %>
            </p>
          </div>

          <div class="field">
            <p class="control">
              <div class="label checkbox">
                <%= f.check_box :remember_me, {checked: true} %>
                <%= f.label :remember_me, "ログインしたままにする" %>
              </div>
            </p>
          </div>

          <br>
          <div class="field">
            <p class="control" style="width:100%">
              <%= f.submit "ログイン", class: "button is-primary is-medium", style: "width:100%" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>