<div class="tweet-form">
  <%= form_for(tweet) do |f| %>
    <div class="field">
      <p class="control">
        <%= f.text_area :content, placeholder: "いまどうしてる？(140文字以内)", class: "textarea", maxlength:140 %>
      </p>
    </div>

    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <p class="control">
          <%= f.submit "ツイート", class: "button is-primary" %>
        </p>
      </div>
    </nav>
  <% end %>
</div>