<% if user_signed_in? %>
  <div class="container">
    <section class="section">
      <div class="columns">
        <div class="column is-4">
          <%= render "users/profile", user: current_user %>
        </div>

        <div class="column is-8">
          <%= render "form", tweet: @tweet %>
          <%= render "tweet_list", tweets: @tweets %>
        </div>
      </div>
    </section> 
  </div>
<% else %>
    <p> ログアウト状態です。</p>
    <%= link_to "ログインしてください", "/users/sign_in" %>
<% end %>