<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "TEAM-Z", root_url, class: "navbar-item is-size-4 has-text-weight-bold" %>
      <%= link_to "タイムライン", tweets_path, class: "navbar-item" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item is-right is-hidden-desktop" %>
    </div>

    <div class="navbar-end">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item is-hidden-touch" %>
    </div>
  </div>
</nav>