<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Micropost</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>  
  </head>

  <body>
    <%= render "layouts/topnav" if user_signed_in? %>
    <%= yield %>
  </body>
</html>
